body{
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color:#FFFFFF;
    
    }
    
    a {
    text-decoration: none;
    }
    img{
        display: block;
    }

    li{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    }

    .container { 
        max-width: 1440px;
        padding-left: 0; 
        padding-right: 0; 
        margin-left: 0; 
        margin-right:0;
        }
    /* HEADER */
    header.container {
        width: 100%;
        height: 72px;

    }
.header-flex{
    display: flex;
    justify-content: space-between;
}

    .logo{
        color:#4D5AE5;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    .logo .logo-word{
      color:#2E2F42;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
    }
    .logo .logo-word:hover{
        color: #404BBF;
    }
    
    .header-nav{
    color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em
    }
    .header-nav:hover,
    .header-nav:focus {
    color: #404BBF;
    }
.address{
    font-style:normal;
}
    .address .address-link{
        color:#434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    .address .address-link:hover,
    .address .address-link:focus{
        color: #404BBF;
    }
    /* HERO */
    
    .hero{
    background-color: #2E2F42;
    
    }
    
    .hero-title{
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; 
    letter-spacing: 1.12px;
    }
    
    .hero-btn{
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    background: var(--IRIS, #4D5AE5);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    }
    .hero-btn:hover,
    .hero-btn:focus{
    background-color: #404BBF;
    cursor: pointer;
    }

    /* ADVANTAGES */
    .visually-hidden {
        
        margin: -1px;
       
        
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }

    .advantages-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    }
    
    .advantages-name-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
    
    
    /* TEAM */
    .team {
    background-color: #F4F4FD;

    }
.team-cube{
background-color:#FFF;
}
.team-title {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
    }
    .team-cube-img {
    }
    .team-cube-name {
        color: #2E2F42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2; 
        letter-spacing: 0.02em;   
    }
    .team-cube-text {
        color: #434455;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5; 
        letter-spacing: 0.02em;   
    }
    .team-img
     {
    }

                    /* PORTFOLIO */
.portfolio {
}
.portfolio-title {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.portfolio-box {
}
.portfolio-box-img {
}
.portfolio-box-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
}
.portfolio-box-text {
    color: #434455;
    font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
}
    /* FOOTER */
    .footer {
    background-color: #2E2F42;
    }
   .footer-resume {
    color: #F4F4FD;
   font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;

}
.logo-footer{
color: #4D5AE5;
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
}   
.footer .logo-word{
    color: #F4F4FD;
    text-transform: uppercase;
}